@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecraft.ttf") format("truetype");
}

@font-face {
    font-family: "Wingdings";
    src: url("fonts/Wingding.ttf") format("truetype");
}

@font-face {
    font-family: "Arial";
    src: url("fonts/Arial.ttf") format("truetype");
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #60646c;
        color: black;
    }
    input[type="text"] {
        background-color: #989ca4;
    }
    select {
        background-color: #8f9196;
    }
    input[type="color"] {
        background-color: #989ca4;
    }
    button {
        background-color: #84868c;
    }
    fieldset {
        background-color: #84868c;
    }
    input:disabled {
        background-color: #787c84;
    }
    .mst_div {
        background-color: #858a93;
    }
    
    .slv_div {
        background-color: #a0a4ab;
    }

    .topnav {
        background-color: #858a93;
    }
    .topnav a {
        color: #f2f2f2;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: #f8f4f4;
        color: black;
    }
    
    fieldset{
        background-color: white;
    }
    
    input[type="text"] {
        background-color: white;
    }
    
    select {
        background-color: white;
    }
    
    input[type="color"] {
        background-color: white;
    }
    
    button {
        background-color: #FFFFFF;
        pointer-events: all;
    }
    
    input:disabled {
        background-color: #d3d3d3;
    }
    
    div[class="mst_div topnav"] {
        background-color: #FFFFFF;
    }
    
    div[class="mst_div float-child"] {
        background-color: #FFFFFF;
    }
    
    div[class="slv_div"] {
        background-color: #FFFFFF;
    }

    .topnav {
        background-color: #FFFFFF;
    }
    .topnav a {
        color: black;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }
}

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    overflow: hidden;
    align-items: center;
    vertical-align: middle;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

body {
    padding: 25px;
    font-size: 25px;
}

h2 {
    margin-top: 3px;
    margin-bottom: 10px;
}

input[type="color"] {
    height:25px;
    margin-right: 5px;
}

div[class="code_box"] {
    align-items: center; 
    margin-top: 2px;
}

button {
    box-shadow: 2px 2px #60646c;
    pointer-events: all;
}

button[class="bhb_button"] {
    border-radius: 6px;
    height: 30px;
    margin-right:10px;
}

select[class="bhb_select"] {
    border-radius: 3px;
    margin-right:10px;
}

fieldset {
    border: 2px solid black;
    border-radius: 5px;
}

.code_input {
    text-transform: uppercase;
    width: 50px;
    height: 22px;
    border: 2px solid black;
    margin-right: 10px;
    border-radius: 4px;
    padding-right: 10px
}

.code_input_label {
    font-size: 20px;
    padding-right: 10px;
}

.mst_div {
    box-shadow: 5px 5px;
    border: 6px solid black;
    border-radius: 10px;
    padding: 10px;
}

.slv_div {
    box-shadow: 3px 3px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.float-child {
    float: left;
    padding: 20px;
}

.cookie-overlay {

    position: fixed;
    width: 50%;
    bottom: 1rem;
    left: 1rem;
    padding: 0.8rem;
    z-index: 2051;
    line-height: 20px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: 25%;
  
  }