body {
    padding: 25px;
    background-color: #60646c;
    color: black;
    font-size: 25px;
}

input[type="text"] {
    background-color: #989ca4;
}

input[type="color"] {
    background-color: #989ca4;
}

button {
    background-color: #7A7A7A;
    pointer-events: all;
}

input:disabled {
    background-color: #787c84;
}

.light-mode {
    background-color: #f8f4f4;
    color: black;
}

.light-mode-text input[type="text"] {
    background-color: white;
}

.light-mode-color input[type="color"] {
    background-color: white;
}

.light-mode-button button {
    background-color: #FFFFFF;
    pointer-events: all;
}

.light-mode-disabled input:disabled {
    background-color: #d3d3d3;
}

.code_input {
    text-transform: uppercase;
    width: 50px;
    height: 22px;
    border: 2px solid black;
    margin-right: 10px;
    border-radius: 4px;
    padding-right: 10px
}

.code_input_label {
    font-size: 20px;
    padding-right: 10px;
}

.std_div {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.mst_div {
    border: 6px solid black;
    border-radius: 10px;
    padding: 10px;        
}